body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    position: relative;
    height: 100%;
}

html {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}

.header-left a,
.header-right nav ul li a {
    background: none;
    border: none;
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.header-left a {
    margin-left: 23px;
}

.header-middle {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.header-middle .logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff; 
    margin: 0; 
    padding: 0; 
}

.logo-link {
    text-decoration: none;
}


.header-right {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 10px;
}

.header-left {
    flex: 1; 
}

.language-selector select {
    margin-right: 20px;
    padding: 5px;
}

.header-right nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-right nav ul li {
    margin: 0 10px;
}

#intro-text {
    font-style: italic;
    font-size: 14px;
    color: #666;
	margin: 0;
	background-color: #f9f9f9;
}

.search-bar {
	float: right;
	margin-top: 75px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.search-bar input[type="text"] {
	width: 235px;
}

.container {
    padding: 85px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.container h1 {
    font-size: 24px;
    color: #333;
	margin: 0;
	background-color: #f9f9f9;
}

p {
    color: #666;
}

.top-games, .best-of-the-best {
    margin-top: 40px;
}

.top-games ul, .best-of-the-best .best-game {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.top-games ul li, .best-of-the-best .best-game {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.top-games ul li img, .best-of-the-best .best-game img {
    border-radius: 8px;
    margin-right: 10px;
}

.top-games ul li div, .best-of-the-best .best-game div {
    display: flex;
    flex-direction: column;
}

.top-games ul li h3, .best-of-the-best .best-game h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.top-games ul li p, .best-of-the-best .best-game p {
    margin: 5px 0 0;
    color: #666;
}

.all-games {
    margin-top: 20px;
}

.game-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.game-item {
    text-align: center;
}

.game-item img {
    width: 200px; 
    height: 200px; 
    border-radius: 8px;
}

.login, .register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f3f4f6; 
}

/* login and register styles */
.login form, .register form {
    width: 350px; 
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    align-items: center;
    justify-content: center;
}

.login input[type="email"], .login input[type="password"], .register input[name="email"], .register input[name="name"], .register input[type="password"] {
    width: 93%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.login input[type="checkbox"] {
    margin-right: 6px;
    margin-bottom: 15px;
}

.login button[type="submit"], .register button[type="submit"] {
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 20%;
    transition: background-color 0.3s ease;
    float: right;
}

.register button[type="submit"] {
    width: 25%;
}

.login button[type="submit"]:hover, .register button[type="submit"]:hover {
    background-color: #357bd8;
}


